 .main{
  display: flex;
  flex-wrap: wrap;
 }
 .input_container{
    padding: 10px;
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
 
 .container{
  background-image: linear-gradient(to right, #fcfcfd, #fbfafe, #fbf9fe, #fbf7fe, #fcf5fd);
  width: 100%;
  
  
}

.code_preview{
 
color:rebeccapurple

}



input{
    padding: 10px;
   margin-left: 10px;
    border-radius: 10px;


}
project{
    padding: 10px;
}
body{
    background: linear-gradient(180deg, rgb(231, 193, 210) -11%, rgba(252, 253, 253, 0.253) 100%);;
}



/* CSS */
button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}



