@import url("https://fonts.googleapis.com/css2?family=Poppins");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
body{

    background-color:#e4daf7;
    /* background-image: url("img2.jpg");
      */
    /* background: linear-gradient(90deg, rgb(6, 2, 70) 0%, rgba(15,12,133,1) 9%, rgba(20,17,176,1) 13%, rgba(24,21,208,1) 17%, rgba(27,24,230,1) 20%, rgba(26,24,212,1) 24%, rgba(19,16,165,1) 36%, rgba(41,33,231,0.9360119047619048) 94%, rgba(25,25,191,1) 100%, rgba(0,212,255,1) 100%); */
} 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #240046;
    max-height: 455px;
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628 ;
    font-family: 'Poppins',sans-serif;

}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}
#chk{
    display: none;
}
.login{
    position: relative;
    width: 100%;
    height: 100%;
}
.login label{
    margin: 25% 0 5%;
}
label{
    color: #fff;
    font-size: 2rem;
    justify-self: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width:100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.register{
    background: #eee;
    border-radius: 70% / 10%;
    transform: .8s ease-in-out;
    transition: .8s ease-in-out;
}
.register label{
    color: #573b8a;
    transform: scale(.6);
}
#chk:checked~ .register {
    transform: translateY(-60%);
}

#chk:checked~ .register label{
    transform: scale(1);
    margin: 10% 0 5%;
}
#chk:checked~ .login label{
    transform: scale(.6);
    margin: 5% 0 5%;
}


.form button{
    width:85%;
    height:40px;
    margin: 12px auto 10%;
    color:#fff;
    background: #573b8a;
    font-size:1rem;
    font-weight: bold;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover{
    background-color: #6d4468;

}
